body {
    margin: 5px;
}

#title {
    font-family: "DM Serif Display", serif;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 3em;
}

#header>nav>ul {
    list-style-type: none;
    margin: 0px;
    padding-inline-start: 0px;
    background-color: #2B2B2B;
}

#header>nav>ul>li {
    display: inline-block;
    padding: 1em;
}

#header>nav>ul>li:hover {
    background-color: #4E4E4E;
}

#header>nav>ul>li>a {
    font-family: "Nunito", sans-serif;
    color: #FBFBFB;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
}

#header>nav>ul>li>a:visited {
    color: #FBFBFB;
}
