#title>img {
    width: 30%;
    height: auto;
}

#header>nav>ul {
    list-style-type: none;
}

#header>nav>ul>li {
    display: inline-block;
}

#header>nav>ul>li>a {
    text-decoration: none;
}
