/* Colour palette source: https://coolors.co/f8ffe5-06d6a0-78c3fb-89a6fb-ef476f */
:root {
    --light-yellow: #F8FFE5;
    --emerald: #06D6A0;
    --maya-blue: #78C3FB;
    --vista-blue: #89A6FB;
    --bright-pink: #EF476F;
}

body {
    background-color: var(--light-yellow);
    font-size: 1em;
    font-family: "Lora", serif;
    min-height: 100vh;
    padding-left: 1em;
}

h1, h1>a {
    font-size: 2em;
    color: var(--vista-blue);
    font-family: "Shrikhand", serif;
    font-weight: normal;
    text-decoration-color: var(--bright-pink);
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    left: 0;
    padding: 0;
    padding-left: 0.5em;
}
nav ul>li {
    display: inline-block;
    font-size: 1.5em;
    font-family: "Urbanist", sans-serif;
    padding-right: 1em;
}
nav ul>li>a {
    color: var(--emerald);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
nav ul>li>a:hover {
    color: var(--vista-blue);
}

.page-footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #89A6FB;
    height: 8em;
    padding: 0.5em;
    padding-left: 1em;
    border-top: 0.5em solid var(--bright-pink);
}
.page-footer>h1{
    color: var(--light-yellow);
    font-size: 1.2em;
    font-family: "Urbanist", sans-serif;
}
.page-footer>ul>li, .page-footer>ul>li>a {
    font-size: 1.1em;
    font-family: "Urbanist", sans-serif;
    color: var(--light-yellow);
    padding-right: 1em;
}
